<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<%= render "shared/teamdisplay", selected_pokemon: @selected_pokemon, team: @team %>

<p> Available Pokemon </p>
<% @pokemons.each do |poke| %>
    <li>
    <%= poke[:number]%> <%= poke[:name]%> <%= poke[:type1]%> <img src="<%= poke[:picture] %>">
    <%= link_to "Add to team", new_game_team_selected_pokemon_path(@game, @team, pokemon_id:poke[:id])%>
    </li>
<% end %>
