<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<p> Team </p>
<ul>
<% if @selected_pokemon %>
<% @selected_pokemon.each do |selected| %>
<li>
  <% if selected%>
    <%= selected[:pokemon_id] %> <%= selected[:move1] %>  <%= selected[:move2] %>  <%= selected[:move3] %>  <%= selected[:move4] %>
  <% end %>
</li>
<%end%>
<% end %>
</ul>

<p> Available Pokemon </p>
<% @pokemons.each do |poke| %>
    <li>
    <%= poke[:number]%> <%= poke[:name]%> <%= poke[:type1]%> <img src="<%= poke[:picture] %>">
    <%= link_to "Add to team", new_game_team_selected_pokemon_path(@game, @team, pokemon_id:poke[:id])%>
    </li>
<% end %>
