<h3 style="text-align: center;"> My Team </h3>

<div class="myteam">

<table>
<% if selected_pokemon %>
<% selected_pokemon.each do |selected| %>
  <% if selected[:team_id] == team.id%>
  <tr>
    <td> <%= selected[:team_id] %> </td>
    <td> <%= selected[:pokemon_id] %> </td>
    <td> <%= selected.pokemon[:name] %> </td>
    <td> <img src="<%= selected.pokemon[:picture] %>"> </td>
    <td> <% if selected[:move1] != "" %> <%= Move.find(selected[:move1]).name %> <% end %> </td>
     <td> <% if selected[:move2] != "" %> <%= Move.find(selected[:move2]).name %> <% end %> </td>
     <td> <% if selected[:move3] != "" %> <%= Move.find(selected[:move3]).name %> <% end %> </td>
     <td> <% if selected[:move4] != "" %> <%= Move.find(selected[:move4]).name %> <% end %> </td>
     <td> <button> <%= link_to "Remove", game_team_selected_pokemon_path(id: selected.id, team_id: selected.team_id),
        data: { turbo_method: :delete }, turbo_confirm: "Are you sure you want to remove this Pokemon?", status: :see_other %> </button>

      </button> </td>
     <td> <button> <%= link_to "Edit", edit_game_team_selected_pokemon_path(@game, @team, selected) %> </button> </td>
  </tr>
  <% end %>
<%end%>
<% end %>
</table>
</div>
