<section class="landing">
  <div class="landing-shell">
    <div class="landing-screen">
      <div class="screen-header">
        <p class="screen-title">Move List</p>
        <%= link_to "â† Back", root_path, class: "gb-back" %>
      </div>

      <div class="screen-body">
        <div class="gb-list gb-moves">
          <div class="gb-list-header">
            <span class="col-number">ID</span>
            <span class="col-name">Move</span>
            <span class="col-type">Type</span>
            <span class="col-class">Class</span>
            <span class="col-stat">Pwr</span>
            <span class="col-stat">Acc</span>
            <span class="col-action">Add</span>
          </div>

          <div class="gb-list-body">
            <details class="move-row">
              <summary>
                <span class="col-number">0</span>
                <span class="col-name">Dummy</span>
                <span class="col-type"><span class="type-badge type-normal">normal</span></span>
                <span class="col-class">Physical</span>
                <span class="col-stat">9000</span>
                <span class="col-stat">100</span>
                <span class="col-action"><button class="gb-add" type="button">+</button></span>
              </summary>
              <div class="move-details">
                <span class="move-effect">No effect</span>
                <span class="move-chance">Effect Chance: 0</span>
              </div>
            </details>

            <% @moves.each do |move| %>
              <details class="move-row">
                <summary>
                  <span class="col-number"><%= move.move_id %></span>
                  <span class="col-name"><%= move.name.capitalize %></span>
                  <span class="col-type">
                    <span class="type-badge type-<%= move.move_type.to_s.parameterize %>"><%= move.move_type %></span>
                  </span>
                  <span class="col-class"><%= move.damage_class %></span>
                  <span class="col-stat"><%= move.power %></span>
                  <span class="col-stat"><%= move.accuracy %></span>
                  <span class="col-action"><button class="gb-add" type="button">+</button></span>
                </summary>
                <div class="move-details">
                  <span class="move-effect"><%= move.effect.presence || "No effect" %></span>
                  <span class="move-chance">Effect Chance: <%= move.effect_chance.presence || "0" %></span>
                </div>
              </details>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
