

<%= form_with url: "pokemons/search", method: :get do |f|%>
<%= f.label :search, "Search for Pokemon:" %>
<%= f.search_field :search %>
<%= f.submit "Search"%>
<% end %>

<table>
  <tr>
    <td><%= link_to "Number", :sort => "id" %></td>
    <td>Picture</td>
    <td><%= link_to "Name", :sort => "name" %></td>
    <td> <%= link_to "Type", :sort => "type1" %> </td>
    <td><%= link_to "Type", :sort => "type2" %> </td>
    <td><%= link_to "HP", :sort => "hp_max", :direction => "desc" %></td>
    <td><%= link_to "Attack", :sort => "attack", :direction => "desc" %></td>
    <td><%= link_to "Defense", :sort => "defense", :direction => "desc" %></td>
    <td><%= link_to "Special Atk", :sort => "sp_attack", :direction => "desc"  %></td>
    <td><%= link_to "Special Def", :sort => "sp_defense", :direction => "desc"  %></td>
    <td><%= link_to "Speed", :sort => "speed", :direction => "desc"  %></td>
    <td>Select</td>
  </tr>

    <tr>
    <td>1</td>
    <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"></td>
    <td>Testasaur</td>
    <td>Grass</td>
    <td>Poison</td>
    <td>45</td>
    <td>49</td>
    <td>49</td>
    <td>49</td>
    <td>49</td>
    <td>45</td>
    <td>[+]</td>
    </tr>

    <%@pokemons.each do |pokemon| %>
    <tr>
    <td><%= pokemon.number %></td>
    <td><%= image_tag "#{pokemon.picture}"%> </td>
    <td><%= pokemon.name.capitalize %></td>
    <td><%= pokemon.type1 %></td>
    <td><%= pokemon.type2 %></td>
    <td><%= pokemon.hp_max %></td>
    <td><%= pokemon.attack %></td>
    <td><%= pokemon.defense %></td>
    <td><%= pokemon.sp_attack %></td>
    <td><%= pokemon.sp_defense %></td>
    <td><%= pokemon.speed %></td>
    <td>[+]</td>
    </tr>
    <% end %>
</table>
