<h2> Search Results for "<%=@search%>" </h2>

<%= form_with url: "search", method: :get do |f|%>
<%= f.label :search, "Search again:" %>
<%= f.search_field :search %>
<%= f.submit "Search"%>
<% end %>

<h3> Displaying <%=@pokemons.count%> pokemon found. </h3>

<table>
  <tr>
    <td>Number</td>
    <td>Picture</td>
    <td>Name</td>
    <td>Type</td>
    <td>Type</td>
    <td>HP</td>
    <td>Attack</td>
    <td>Defense</td>
    <td>Special Atk</td>
    <td>Special Def</td>
    <td>Speed</td>
    <td>Select</td>
  </tr>

    <%@pokemons.each do |pokemon| %>
    <tr>
    <td><%= pokemon.number %></td>
    <td><%= image_tag "#{pokemon.picture}"%> </td>
    <td><%= pokemon.name.capitalize %></td>
    <td><%= pokemon.type1 %></td>
    <td><%= pokemon.type2 %></td>
    <td><%= pokemon.hp_max %></td>
    <td><%= pokemon.attack %></td>
    <td><%= pokemon.defense %></td>
    <td><%= pokemon.sp_attack %></td>
    <td><%= pokemon.sp_defense %></td>
    <td><%= pokemon.speed %></td>
    <td>[+]</td>
    </tr>
    <% end %>
</table>
