<!DOCTYPE html>
<html>
  <head>
    <title>PokeBattles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="top-bar">
      <h2> <%= link_to "Home", root_path %> | <%= link_to "Pokemon List", pokemons_path %> | <%= link_to "Move List", moves_path %> </h2>
    </div>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
